<!DOCTYPE html>
<html>

<head>
</head>

<body>

  <h1>
  <p>
    welcome to <stotong>Bookers</stotong>!
  </p>
  </h1>
  <%= link_to new_user_session_path, class: 'btn btn-info col-xs-10' do %>
   <span>Log in</span>
  <% end %>
  <%= link_to new_user_registration_path, class: 'btn btn-success col-xs-10' do %>
   <span>Sign Up</span>
  <% end %>

</body>

</html>